@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken="AF03A514-0D81-4AF2-A930-FAA11BC7694B"
//npm.cublick.com/:_authToken="mQ0yW929weEO+lRL3ue/gD+vMa8nalXS1HJRHo7fPr0="
@cublick:registry=https://9d20-222-112-13-92.ngrok-free.app